@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Noto+Sans+KR&display=swap&subset=korean');

.back {
  /*background-image: url('../images/739116.png');
  background-size: cover;*/
}

.navbar-logo {
    font-family: 'Black Han Sans', sans-serif;
    font-size: xx-large;
    font-weight: bold;
}

.navbar {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
}

.contents {
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 2;
}

 a {
    text-decoration: none;
}